.add-button {
    background-color: rgb(0, 151, 167);
    color: rgb(48, 48, 48);
    height: 54px;
    width: 54px;
    border: 10px;
    line-height: 54px;
    font-size: 24px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    text-decoration: none;
}

.add-button:hover {
    background-color: rgba(0, 151, 167, 0.4);
}