.table {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.table .header {
    color: rgb(255, 128, 171);
}

.table .column {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

}

.table .cell {
    flex-grow: 1;
    flex-basis: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.table hr {
    height: 2px;
    opacity: 0.24;
}