.appbar {
  margin-bottom: 20px;
}

.brewsList {
  margin-top: 10px;
}

.centerText {
  text-align: center !important;
}

.editPaper {
  width: 80% !important;
  margin: 0 auto !important;
  padding: 20px 20px 0 20px !important;
  background-color: #424242 !important;
}

.editPaper .leftColumn {
  float: left;
  width: 45%;
}

.editPaper .rightColumn {
  float: right;
  width: 45%;
}

.editPaper .buttonSeparator {
  clear: both;
}

.formButton {
  margin: 20px 0px 20px 20px !important;
}

.hiddenFileInput {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  opacity: 0 !important;
}
