.imageChooserPaper {
  width: 600px;
  height: 390px;
  background-color: #424242 !important;
}

.imageChooserPaper .leftMenu {
  width: 80px !important;
  float: left !important;
  display: inline-block !important;
}

.imageChooserPaper .canvas {
  padding: 20px 0 20px 0;
}
