.tapCardImg {
  width: 332px;
  height: 230px;
}

.favoriteTaps .tapCard {
  background-color: #424242 !important;
}

.tapEdit .tapCard {
  background-color: #616161 !important;
}

.tapCard .titleDivider {
  margin: 5px 0 5px 0 !important;
}
